:root{
    --color-primary:#2584ff;
    --color-secondary:#00d9ff;
    --color-accent:#ff3400;
    --color-headings:#1b0760;
    --color-body:#918ca4;
    --color-body-darker:#5c5577;
}

*,*::after,*::before{
    box-sizing: border-box;
    /* gives the actual size of the element despite padding or border */
}

/* Typography */

html{
    /* 62.5% x 16px =10px */
    font-size: 62.5%;
}
body{
    font-family: Inter,Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
}
h1,h2,h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
} 
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
   
}
p{
    margin-top: 0;
}

@media screen and (min-width:1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size:8rem ;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}

/* Links */

a{
    text-decoration: none;
}
.link-arrow{
    color: var(--color-accent);
    transition: margin 0.15s;
    font-weight: bold;
}
.link-arrow::after{
    content: '-->';
    margin-left:5px;
}
.link-arrow:hover::after{
margin-left: 10px;
}

@media screen and (min-width:1024px){
    .link-arrow{
        font-size: 1.4rem;
    }
}

/* Badges */

.badge{
border-radius: 20px;
font-size: 2rem;
font-weight: 600;
padding: 0.5rem 2rem;
white-space: nowrap;

}

.badge--primary{
    background: var(--color-primary);
    color: #fff;
}
.badge--secondary{
    background: var(--color-secondary);
    color: #fff;
}
.badge--small{
    font-size: 1.6rem;
}

@media screen and (min-width:1024px) {
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}

/* Lists */
.list{
    list-style: none;
    color: var(--color-headings);
    padding-left: 0;
}

.list--inline .list__item{
    display: inline-block;  
    /* we put inline block so we can be able to apply margin, which is impossible for "inline" display */
    margin-right: 2rem;
}

.list--tick{
    /* don't forget (../images/.....) */
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}
 .list--tick .list__item{
    padding-left: 0.5rem;
    margin-bottom: 1rem;
 }

 @media screen and (min-width:1024px) {
    .list--tick .list__item{
        padding-left: 0;
    }
 }

/* Icons */
.icon{
    width: 40px;
    height: 40px;
}
.icon--primary{
    fill: var(--color-primary);
}

.icon-container{
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    display: inline-flex;
    /* inline flex helps put the icon in the centre and gives the round shape(also 100% border radius gives round shape) */
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

/* Buttons */
.btn{
 font-size: 1.8rem;
 font-weight: 600;
 /* PS:600 not equal to 600px*/
 padding: 2rem 3rem;
 text-transform: uppercase;
 border: 0;
 /* border:0 removes the default border */
 border-radius: 40px;
 cursor: pointer;
 /* added pointer as the cursor when we hover on the button */
 white-space: nowrap;
 /* text shouldn"t go to next line if space is not enough */
 text-align: center;
 margin: 1rem 0;
 /* margin to separate btn from other elements */
}

.btn--primary{
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover{
    background: #3a8ffd
}

.btn--secondary{
    background: var(--color-secondary);
    color: #fff;
}
.btn--secondary:hover{
    background: #00c8eb;
}
.btn--accent{
    background: var(--color-accent);
    color: #fff;
}
.btn--accent:hover{
    background: #ec3000;
}
.btn--outline{
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--outline:hover{
 background: var(--color-headings);
 color: #fff;
}

.btn--block{
    width: 100%;
    display: inline-block;
    /* coz by default is inline for <a> so we wouldn't be able to apply width */
}

@media screen and (min-width:1024px){
    .btn{
        font-size: 1.5rem;
    } 
}

/* Inputs */
.input{
    padding: 1.5rem 3.5rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    color: var(--color-headings);
    /* color of the text */
    font-size: 2rem;
    outline: 0;
}
::placeholder{
color: #cdcbd7;
}
@media screen and (min-width:1024px){
  .input{
    font-size: 1.5rem;
  }
}
/* Input groups */

.input-group{
    border: 2px solid #ccc;
    border-radius: 30px;
    display: flex;
}

.input-group .input{
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}
.input-group .btn{
    margin: 0.4rem 0.3rem;
}

/* Cards */
.card{
    /* we don't put width so that it can be flexible and adopt size of any container */
    box-shadow: 0 0 20px 10px #f3f3f3;
    border-radius: 7px;
    overflow: hidden;
    /* in adding header color, the header becomes biger than card(overflows), so we hide overflow to resume the round corners of border radius */
}
.card-container{
    /* temporary card container */
    width: 50%;
    padding: 4rem;
}
.card__header,
.card__body{
    padding: 2rem 3rem;
}

.card--primary .card__header{
    background: var(--color-primary);
    color: #fff;
}

.card--secondary .card__header{
    background: var(--color-secondary);
    color: #fff;
}

.card--secondary .badge--secondary{
    background: #02cdf1;
    /* This for secondary badges in secondary cards..so that badge can be seen we change it's color */
}

/* Plans */

.plan__name{
    color: #fff;
    font-weight: 500;
    margin: 0;
    font-size: 2.4rem;
}
.plan__price{
    font-size: 6rem;
}

.plan__billing-cycle{
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    /* opacity to make it softer */
    margin-right: 1rem;
}
.plan__description{
    font-size: 2rem;
    font-weight: 300;
    display: block;
    letter-spacing: 0.1rem;
}
.plan .list__item{
    margin-bottom: 2rem;
}

.plan--popular .card__header{
    position: relative;
    /* so that we can position the ::before as absolute to card header */
}

.plan--popular .card__header::before{
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    /* display inline-block coz it's an inline element. So we wouldn't be able to apply width */
    position: absolute;
    right: 5%;
    /* moves it to te right */
    top:-6%;
    /* moves it to the top */
}
/* for popular card plan, means insert the content before card header */

@media screen and (min-width:1024px){
    .plan__name{
        font-size: 1.4rem;
    }
    .plan__price{
        font-size: 5rem;
    }
    .plan__billing-cycle{
        font-size: 1.6rem;
    }
    .plan__description{
        font-size: 1.7rem;
    }
}

/* Media */
.media{
    display: flex;
}
.media__title{
    margin-top: 0;
}
.media__body{
    margin: 0 2rem;
}

.media__image{
    margin-top: 1rem;
    margin-left: 1rem;
}

/* Quotes */
.quote{
    font-size: 3rem;
    font-style: italic;
    color:var(--color-body-darker);
    line-height: 1.3;
}
.quote__text::before{
    content:open-quote;
    /* it's a predefined value */
}
.quote__text::after{
    content: close-quote;
}

.quote__author{
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0;
}
.quote__company{
    font-size: 2rem;
    opacity: 0.4;
    color: var(--color-headings);
    font-style: normal;
}
.quote__line{
    position: relative;
    bottom: 10px;
}

@media screen and (min-width:1024px) {
    .quote{
        font-size: 2rem;
    }
    .quote__author{
        font-size: 2.4rem;
    }
    .quote__company{
        font-size: 1.4rem;
    }
}