<section class="block container">
    <!-- the container class makes the content not to be stretched more than 1140px -->
    <header class="block__header">
      <!-- wrapped heading and paragraph with block header so that we can align ONLY THEM in the center -->
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
        possimus eos qui alias, blanditiis nihil odio at et mollitia eius.
      </p>
    </header>
  </section>
  <section class="block block--dark block block--skewed-right">
    <div class="container ">
      <!-- wrapped heading and paragraph with container(and not the whole block ) coz we want the black color to keep showing even when stretching -->
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
        possimus eos qui alias, blanditiis nihil odio at et mollitia eius.
      </p>
    </div>
  </section>
  <section class="block block--dark block block--skewed-left">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
        possimus eos qui alias, blanditiis nihil odio at et mollitia eius.
      </p>
    </div>
  </section>