<div class="callout callout--primary ">
    iv<d class=" grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__heading">Ready to get started?</h2>
          <p class="callout__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
            tempore libero ullam harum, autem delectus odio iusto deleniti quos
            exercitationem.
          </p>
        </div>
        <a href="" class="btn  btn--stretched btn--secondary">GET STARTED?</a>
            </div>
    </div>