<section class="block container">
    <header class="block__header">
      <h2>Host on the Cloud to Keep Growing</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, corrupti!</p>
    </header>

    <article class="grid grid--1x2 feature">

    
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <!-- references element with ID growth -->
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Super easy to use</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cumque
            nulla laudantium, repudiandae eligendi assumenda sed maxime at
            delectus nemo.
          </p>
          <a href="#" class="link-arrow">LEARN MORE</a>
        </div>
        <img  class=" feature__content feature__image" src="images/easy.jpg" alt="">
        <!-- will wrap image in picture after optimizing -->
 


      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <!-- references element with ID growth -->
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Wordpress Made Easy</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cumque
          nulla laudantium, repudiandae eligendi assumenda sed maxime at
          delectus nemo.
        </p>
        <a href="#" class="link-arrow">LEARN MORE</a>
      </div>
      <img  class=" feature__content feature__image" src="images/fast.jpg" alt="">
      <!-- will wrap image in picture after optimizing -->


      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <!-- references element with ID growth -->
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super easy to use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cumque
          nulla laudantium, repudiandae eligendi assumenda sed maxime at
          delectus nemo.
        </p>
        <a href="#" class="link-arrow">LEARN MORE</a>
      </div>
      <img  class=" feature__content feature__image" src="images/support.jpg" alt="">
      <!-- will wrap image in picture after optimizing -->
    </article>
  </section>