<section class="block block--dark footer">
    <div class="container grid footer__grid">

      <section class="collapsible collapsible--expanded footer__content">
        <header class="collapsible__header">
          <h2 class="collapsible__heading  footer__heading">Item 1</h2>
          
          <svg class="icon icon--white collapsible__wordpress ">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
          
        </header>
        <div class="collapsible__content">
          <ul>
            <li class="list"> <a href="#">Website Hosting</a></li>
            <li class="list" ><a href="#">Free Wordpress</a></li>
            <li class="list"><a href="#">Migrations</a></li>
           </ul>
        </div>
      </section>

      <section class="collapsible footer__content">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Item 1</h2>
          
          <svg class="icon icon--white collapsible__wordpress ">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
          
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
          laudantium neque illo excepturi eius eveniet dicta molestiae quis? Hic,
          excepturi.
        </div>
      </section>

      <section class="collapsible footer__content">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Item 1</h2>
          
          <svg class="icon icon--white collapsible__wordpress ">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
          
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
          laudantium neque illo excepturi eius eveniet dicta molestiae quis? Hic,
          excepturi.
        </div>
      </section>

      <section class="footer__brand">
        <img src="images/logo.svg" alt="">
        <p class="footer__copyright">Copyright 2023 Nana Mwangaza</p>
      </section>
      
    </div>
  </section>

