<section class="block block--dark block--skewed-left hero">

    <div class="container grid grid--1x2">

      <header class=" block__header  hero__content">
        <!-- We put the class block__header so as to align text in the center(It has the properties...) -->
        <!-- This is a container for one part of the 1x2 grid -->
        <h1 class="block__heading">Cloud Hosting For Pros</h1>
               <p class="hero__paragraph">Deploy your websites  in less than 60 seconds</p>
               <a href="" class="btn btn--accent btn--stretched">Get Started</a>
      </header>

      <img class="hero__image" src="images/banner.png" alt="">
      <!-- DON'T FORGET TO OPTIMIZE IMAGES -->


    </div>
  </section>