<nav class="nav collapsible">
    <a href="/"><img src="images/logo.svg" alt=""></a>
    <!-- we put image in anchor so that it can be clickable -->



    <svg class="icon icon--white nav__toggler">
      <!-- references element with ID growth -->
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>



    <ul class="list nav__list  collapsible__content">
      <!-- apply collapsible__content from COLLAPSIBLE created earlier -->
      <!-- we put anchor in list items to make them clickable -->
      <li class="nav__item"><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">VPS</a></li>
      <li class="nav__item"><a href="#">Domain</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>


  </nav>