<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
      <h2 >User-friendly Control Panel</h2>
    </header>

    <div class="container grid grid--1x2">
      <img class="showcase__image"  src="images/ipad.png" alt="iPad" />
      <div class="showcase__media">
     
         <ul>
          <!-- we put the media in ul -->
          <li class="list">
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <!-- references element with ID growth -->
                  <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Easy Start & Managed Updates</h3>
                <p class="media__description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                  provident rem architecto dignissimos sapiente nemo temporibus nobis,
                  commodi incidunt aperiam!
                </p>
              </div>
            </div>
          </li>


          <li class="list">
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <!-- references element with ID growth -->
                  <use xlink:href="images/sprite.svg#growth"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Staging, GIT & WP-CLI</h3>
                <p class="media__description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                  provident rem architecto dignissimos sapiente nemo temporibus nobis,
                  commodi incidunt aperiam!
                </p>
              </div>
            </div>
          </li>


          <li class="list">
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <!-- references element with ID growth -->
                  <use xlink:href="images/sprite.svg#wordpress"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title">Dynamic Caching and More</h3>
                <p class="media__description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
                  provident rem architecto dignissimos sapiente nemo temporibus nobis,
                  commodi incidunt aperiam!
                </p>
              </div>
            </div>
          </li>


         </ul>
      </div>
    </div>
  </section>
