<div class="card testimonial card--testimonial">

    <div class="grid grid--1x2">
      <div class="testimonial__image">
          <img  src="images/testimonial.jpg" alt="A happy smiling customer" />
          <span class="icon-container icon-container--accent">
              <svg class="icon icon--small icon--white">
                  <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
          </span>
      </div>
      
      <div >
          <!-- took the quote component and placed it here -->
          <blockquote class="quote">
              <!-- block quote is ablock element but you can also use <q> which is inline -->
            <p class="quote__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
              iure laudantium? Et iusto assumenda libero, quia blanditiis consectetur
              quisquam hic.
            </p>
            <footer>
                <div class="media">
                  <div class="media__image">
                    <svg class="icon icon--primary quote__line">
                      <!-- added another class quote__line so as to separate it's properties from icon  -->
                      <use xlink:href="images/sprite.svg#line"></use>
                    </svg>
                  </div>
                  <div class="media__body">
                    <h3 class="media__title quote__author">Johnny English</h3>
                    <p class="media__description quote__company">
                     ABC Company
                    </p>
                  </div>
                </div>
            </footer>
          </blockquote>
      </div>
    </div>

  </div>